
a {
  color: black;
  font-weight: bold;
  font-size: 20px;
}
.logo{
  width: 70px;
  height: auto;
  display: inline;
}
h1{
  font-family: "Island Moments",cursive;
  color: rgb(201, 150, 11);
  display: inline;
}
li{
  font-family: "Island Moments",cursive;
}
h2 {
  text-decoration: underline;
  margin-left: 40px;
  margin-right: 40px;
}
body {
    margin-left: 10%;
}
div {
  border: solid #000 1px;
  width: fit-content;
  margin-top: 60px;
}


